In [2]:
import numpy as np
import pandas as pd

## Series

In [3]:
myDictionary = {"Utku": 50, "Berfin": 40, "Osman": 30}

In [4]:
pd.Series(myDictionary)

Utku      50
Berfin    40
Osman     30
dtype: int64

In [5]:
myAges = [50, 40, 30]
myNames = ["Utku", "Berfin", "Osman"]

In [6]:
pd.Series(myAges)

0    50
1    40
2    30
dtype: int64

In [7]:
pd.Series(myAges, myNames)

Utku      50
Berfin    40
Osman     30
dtype: int64

In [8]:
pd.Series(data= myAges, index= myNames)

Utku      50
Berfin    40
Osman     30
dtype: int64

In [9]:
numpyArray = np.array([50, 40, 30])

In [10]:
pd.Series(numpyArray)

0    50
1    40
2    30
dtype: int32

In [11]:
pd.Series(numpyArray, myNames)

Utku      50
Berfin    40
Osman     30
dtype: int32

In [12]:
pd.Series(["Utku", "Berfin", "Osman"], [1, 2, 3])

1      Utku
2    Berfin
3     Osman
dtype: object

In [14]:
raceResult1 = pd.Series([10, 5, 1], ["Utku", "Berfin", "Osman"])

In [17]:
raceResult1

Utku      10
Berfin     5
Osman      1
dtype: int64

In [15]:
raceResult2 = pd.Series([20, 10, 8], ["Utku", "Berfin", "Osman"])

In [16]:
raceResult2

Utku      20
Berfin    10
Osman      8
dtype: int64

In [18]:
raceResult2["Berfin"]

10

In [21]:
finalResult = raceResult1 + raceResult2

In [22]:
finalResult

Utku      30
Berfin    15
Osman      9
dtype: int64

In [23]:
differentSeries = pd.Series([20, 30, 40, 50], ["a", "b", "c", "d"])

In [28]:
differentSeries2 = pd.Series([10, 5, 3, 1], ["a", "c", "f", "g"])

In [29]:
differentSeries

a    20
b    30
c    40
d    50
dtype: int64

In [30]:
differentSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [31]:
differentSeries + differentSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64